<div class="welcome text-center">
    <article class="welcome__title">
        <h1>Balázs András</h1>
        <h2>Frontend Developer</h2>
    </article>

    <div class="welcome__profile"></div>
</div>

<section class="education-wrapper container-fluid">
    <div class="education container">
        <h2>
            Education
        </h2>

        <div class="timeline-item" date-is='20-07-1990'>
            <h1>Bernáth Kálmán Commerce High School, <br> Vác (Hungary)</h1>
            <p>
                I learned the basics of commerce and marketing here.
            </p>
        </div>

        <div class="timeline-item" date-is='20-07-1990'>
            <h1>VIK High School, <br> Budapest (Hungary)</h1>
            <p>
                I continued my education in Budapest, i took a guided tours that upgraded my communication skills. <br>
                Here i graduated.
            </p>
        </div>

        <div class="education__image"></div>
    </div>
</section>

<section class="experiences-wrapper container-fluid">
    <div class="experiences container">
        <h2>
            Experiences
        </h2>

        <div class="timeline-item timeline-item--right" date-is='27-06-2016 - Present'>
            <h1>Freelancer <br> Budapest (Hungary)</h1>
            <p>
                Usually working with in team (Front-end, Back-end, and Designer).
            </p>
            <p>
                I like to have private projects to work, which is a hobby project. <br> I can discover new techniques, processes, and the rest.
            </p>
        </div>

        <div class="timeline-item timeline-item--right" date-is='01-12-2016 - Present'>
            <h1>Frontend Developer / Sitebuilder <br> Budapest (Hungary)</h1>
            <p>
                Working with famous clients like Coca-Cola, Dreher, Sucafina etc...
            </p>
            <p>
                I learned a lot especially using HTML5, CSS3 animations, and the techniques of building a full responsive Website, and Web application.
            </p>
        </div>

        <div class="experiences__image"></div>
    </div>
</section>

<section class="references-wrapper container-fluid">
    <div class="references container">
        <h2>
            References
        </h2>

        <div myslider>
            <div class="slider">

                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-03.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <div>
                            <h3>Apollo Energy Gum</h3>
                            <p>Az oldal a Svéd Gyufa Kft. megbízásából készült. A weboldal egy bizonyos termékbemutató promóciós oldal, valamit erről az oldalról lehet tovább látogatni a Svédgyufa webshopjára is. Animációkat, és háttérmozgást érdemes figyelni. :)</p>
                            <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                        </div>
                    </article>
                </div>


                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-03.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <div>
                            <h3>Apollo Energy Gum</h3>
                            <p>Az oldal a Svéd Gyufa Kft. megbízásából készült. A weboldal egy bizonyos termékbemutató promóciós oldal, valamit erről az oldalról lehet tovább látogatni a Svédgyufa webshopjára is. Animációkat, és háttérmozgást érdemes figyelni. :)</p>
                            <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                        </div>
                    </article>
                </div>


                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-03.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <div>
                            <h3>Apollo Energy Gum</h3>
                            <p>Az oldal a Svéd Gyufa Kft. megbízásából készült. A weboldal egy bizonyos termékbemutató promóciós oldal, valamit erről az oldalról lehet tovább látogatni a Svédgyufa webshopjára is. Animációkat, és háttérmozgást érdemes figyelni. :)</p>
                            <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                        </div>
                    </article>
                </div>


                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-03.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <div>
                            <h3>Apollo Energy Gum</h3>
                            <p>Az oldal a Svéd Gyufa Kft. megbízásából készült. A weboldal egy bizonyos termékbemutató promóciós oldal, valamit erről az oldalról lehet tovább látogatni a Svédgyufa webshopjára is. Animációkat, és háttérmozgást érdemes figyelni. :)</p>
                            <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                        </div>
                    </article>
                </div>


                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-03.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <div>
                            <h3>Apollo Energy Gum</h3>
                            <p>Az oldal a Svéd Gyufa Kft. megbízásából készült. A weboldal egy bizonyos termékbemutató promóciós oldal, valamit erről az oldalról lehet tovább látogatni a Svédgyufa webshopjára is. Animációkat, és háttérmozgást érdemes figyelni. :)</p>
                            <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="skills-wrapper container-fluid">
    <div class="skills container">
        <h2>
            Skills
        </h2>

        <div class="levels">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>

        <div class="dropdown-wrapper">
            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/jquery.png" alt="jQuery">

                    jQuery

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/angular.png" alt="AngularJS">

                    AngularJS

                    <span class="level level--medium">
                        Medium
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/html5.png" alt="HTML5">

                    HTML5

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/html_banner.png" alt="HTML5 Banners">

                    HTML5 Banners

                    <span class="level level--medium">
                        Medium
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/html_email.png" alt="HTML Emails">

                    HTML Emails

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/css3.png" alt="CSS3">

                    CSS3

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/sass.png" alt="SASS">

                    SASS

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/bootstrap.png" alt="Bootstrap">

                    Bootstrap

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/responsive.png" alt="Responsive">

                    Responsive

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/gulp.png" alt="GulpJS">

                    GulpJS

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/adobe.png" alt="Adobe">

                    Adobe

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/seo.png" alt="Seo">

                    Seo

                    <span class="level level--medium">
                        Medium
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/english.png" alt="English">

                    English

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/japan.png" alt="Japanese">

                    Japanese

                    <span class="level level--basic">
                        Basic
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-wrapper container-fluid">
    <div class="about container" ng-controller="MailgunController">
        <h2>
            About me
        </h2>
    </div>
</section>

<section class="contact-wrapper container-fluid">
    <div class="contact container">
        <h2>
            Contact
        </h2>
    </div>
</section>
