<section class="welcome text-center">
    <header class="welcome__title">
        <h1>Balázs András</h1>
        <h2 translate>WELCOME.TITLE</h2>
    </header>

    <div class="welcome__profile">&nbsp;</div>
</section>

<section class="education-wrapper container-fluid">
    <div class="education container">
        <header>
            <h2 translate>
                EDUCATION.TITLE
            </h2>
        </header>

        <div class="timeline-wrapper">
            <article class="timeline-item" date-is="{{ 'EDUCATION.FIRST.DATE' | translate}}">
                <h3 translate>EDUCATION.FIRST.NAME</h3>

                <p class="location" translate>EDUCATION.FIRST.LOCATION</p>
                <p translate>
                    EDUCATION.FIRST.DESCRIPTION.1
                </p>
                <p translate>
                    EDUCATION.FIRST.DESCRIPTION.3
                </p>
                <p translate>
                    EDUCATION.FIRST.DESCRIPTION.2
                </p>
            </article>

            <article class="timeline-item" date-is="{{ 'EDUCATION.SECOUND.DATE' | translate}}">
                <h3 translate>EDUCATION.SECOUND.NAME</h3>

                <p class="location" translate>EDUCATION.SECOUND.LOCATION</p>
                <p translate>
                    EDUCATION.SECOUND.DESCRIPTION.1
                </p>
                <p translate>
                    EDUCATION.SECOUND.DESCRIPTION.2
                </p>
                <p translate>
                    EDUCATION.SECOUND.DESCRIPTION.3
                </p>
            </article>
        </div>

        <div class="education__image">&nbsp;</div>
    </div>
</section>

<section class="experiences-wrapper container-fluid">
    <div class="experiences container">
        <header>
            <h2 translate>
                EXPERIENES.TITLE
            </h2>
        </header>

        <div class="timeline-wrapper timeline-wrapper--right">

            <article class="timeline-item timeline-item--right" date-is="{{ 'EXPERIENCES.FIRST.DATE' | translate}}">
                <h3 translate>
                    EXPERIENCES.FIRST.NAME
                </h3>
                <p class="location" translate>EXPERIENCES.FIRST.LOCATION</p>
                <p class="company" translate>EXPERIENCES.FIRST.COMPANY</p>

                <p translate>
                    EXPERIENCES.FIRST.DESCRIPTION.1
                </p>
                <p translate>
                    EXPERIENCES.FIRST.DESCRIPTION.2
                </p>
                <p translate>
                    EXPERIENCES.FIRST.DESCRIPTION.3
                </p>
                <p translate>
                    EXPERIENCES.FIRST.DESCRIPTION.4
                </p>
                <p translate>
                    EXPERIENCES.FIRST.DESCRIPTION.5
                </p>
            </article>

            <article class="timeline-item timeline-item--right" date-is="{{ 'EXPERIENCES.SECOUND.DATE' | translate}}">
                <h3 translate>
                    EXPERIENCES.SECOUND.NAME
                </h3>
                <p class="location" translate>EXPERIENCES.SECOUND.LOCATION</p>

                <p translate>
                    EXPERIENCES.SECOUND.DESCRIPTION.1
                </p>
                <p translate>
                    EXPERIENCES.SECOUND.DESCRIPTION.2
                </p>
                <p translate>
                    EXPERIENCES.SECOUND.DESCRIPTION.3
                </p>
                <p translate>
                    EXPERIENCES.SECOUND.DESCRIPTION.4
                </p>
            </article>

            <article class="timeline-item timeline-item--right" date-is="{{ 'EXPERIENCES.THIRD.DATE' | translate}}">
                <h3 translate>
                    EXPERIENCES.THIRD.NAME
                </h3>
                <p class="location" translate>EXPERIENCES.THIRD.LOCATION</p>
                <p class="company" translate>EXPERIENCES.THIRD.COMPANY</p>

                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.1
                </p>
                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.2
                </p>
                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.3
                </p>
                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.4
                </p>
                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.5
                </p>
                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.6
                </p>
                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.7
                </p>
            </article>

        </div>

        <div class="experiences__image"></div>
    </div>
</section>

<section class="references-wrapper container-fluid">
    <div class="references container">
        <header>
            <h2 translate>
                REFERENCES.TITLE
            </h2>
        </header>

        <div myslider>
            <div class="slider">

                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-01.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <h3>ADvillage</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus culpa ducimus exercitationem fugiat harum in perferendis quam rerum veritatis. Assumenda, officiis, praesentium. Aliquam architecto maxime molestiae natus, nostrum veniam!</p>
                        <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                    </article>
                </div>


                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-03.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <h3>Apollo Energy Gum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus culpa ducimus exercitationem fugiat harum in perferendis quam rerum veritatis. Assumenda, officiis, praesentium. Aliquam architecto maxime molestiae natus, nostrum veniam!</p>
                        <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                    </article>
                </div>

                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-02.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <h3>Landliebe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus culpa ducimus exercitationem fugiat harum in perferendis quam rerum veritatis. Assumenda, officiis, praesentium. Aliquam architecto maxime molestiae natus, nostrum veniam!</p>
                        <a class="btn btn--primary" href="http://promobuild.web05.dev.gbart.hu/landliebe/sitebuild/" target="_blank">Tovább az oldalra</a>
                    </article>
                </div>

                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-04.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <h3>Aegon</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus culpa ducimus exercitationem fugiat harum in perferendis quam rerum veritatis. Assumenda, officiis, praesentium. Aliquam architecto maxime molestiae natus, nostrum veniam!</p>
                        <a class="btn btn--primary" href="http://promobuild.web05.dev.gbart.hu/landliebe/sitebuild/" target="_blank">Tovább az oldalra</a>
                    </article>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="skills-wrapper container-fluid">
    <div class="skills container">
        <header>
            <h2 translate>
                SKILLS.TITLE
            </h2>
        </header>

        <div class="levels">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>

        <div class="skill-wrapper">
            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/jquery.png" alt="jQuery">

                    jQuery

                    <span class="level level--advanced">
                        {{"SKILL.ADVANCED" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/angular.png" alt="AngularJS">

                    AngularJS

                    <span class="level level--basic">
                        {{"SKILL.BASIC" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/html5.png" alt="HTML5">

                    HTML5

                    <span class="level level--expert">
                        {{"SKILL.EXPERT" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/html_banner.png" alt="HTML5 Banner">

                    HTML5 Banner

                    <span class="level level--medium">
                        {{"SKILL.MEDIUM" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/html_email.png" alt="HTML Email">

                    HTML Email

                    <span class="level level--expert">
                        {{"SKILL.EXPERT" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/css3.png" alt="CSS3">

                    CSS3

                    <span class="level level--expert">
                        {{"SKILL.EXPERT" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/sass.png" alt="SASS">

                    SASS

                    <span class="level level--advanced">
                        {{"SKILL.ADVANCED" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/bootstrap.png" alt="Bootstrap">

                    Bootstrap

                    <span class="level level--expert">
                        {{"SKILL.EXPERT" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/responsive.png" alt='{{"SKILL.1" | translate}}'>

                    {{'SKILL.1' | translate}}

                    <span class="level level--expert">
                        {{"SKILL.EXPERT" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/gulp.png" alt="GulpJS">

                    GulpJS

                    <span class="level level--expert">
                        {{"SKILL.EXPERT" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/adobe.png" alt="Adobe">

                    Adobe

                    <span class="level level--advanced">
                        {{"SKILL.ADVANCED" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/seo.png" alt="SEO">

                    SEO

                    <span class="level level--medium">
                        {{"SKILL.MEDIUM" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/english.png" alt='{{"SKILL.2" | translate}}'>

                    {{"SKILL.2" | translate}}

                    <span class="level level--advanced">
                        {{"SKILL.ADVANCED" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>

            <div class="skill">
                <div class="skill__head">
                    <img class="icon" src="images/icons/japan.png" alt='{{"SKILL.3" | translate}}'>

                    {{"SKILL.3" | translate}}

                    <span class="level level--basic">
                        {{"SKILL.BASIC" | translate}}
                    </span>
                </div>

                <div class="skill__content">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="end-wrapper container-fluid">
    <div class="end container">
        <div class="contact">
            <h2 translate>
                CONTACT.TITLE
            </h2>

            <p translate>
                CONTACT.TEXT
            </p>

            <div class="socials">
                <a href="mailto:andras.vagner@gmail.com" title="E-mail">
                    <span class="icon-envelope"></span>
                </a>
                <a href="tel:06309964393" title="{{'CONTACT.PHONE' | translate}}">
                    <span class="icon-phone-square"></span>
                </a>
                <a href="http://www.linkedin.com/in/andrás-balázs" target="_blank" title="Linekdin">
                    <span class="icon-linkedin-square"></span>
                </a>
                <a href="https://www.facebook.com/andras.gomez" target="_blank" title="Facebook">
                    <span class="icon-facebook-square"></span>
                </a>
            </div>
        </div>

        <div class="quick_id">
            <h2 translate>
                QUICKID.TITLE
            </h2>

            <p>
                <strong>
                    Balázs András
                </strong>
            </p>

            <p>
                1998.02.27 (Vác)
            </p>

            <p>
                Zombori utca 11/a <br>
                2621 Verőce ({{'QUICKID.COUNTRY' | translate}})
            </p>
            <p>
                <a href="tel:+36309964303" title="(+36) 30 996 4303">(+36) 30 996 4303</a>
            </p>
            <p>
                <a href="mailto:andras.vagner@gmail.com" target="andras.vagner@gmail.com">andras.vagner@gmail.com</a>
            </p>
        </div>
    </div>
</section>

<section class="bye-wrapper container-fluid relative">
    <div class="bye">
        <h2>
            {{'ENDING.1' | translate}}
            <br>
            {{'ENDING.2' | translate}}
        </h2>

        <div class="welcome__profile welcome__profile--bye"></div>
    </div>
</section>

<div class="under-development">
    <h2 translate>MESSAGE.NOTREADY.TITLE</h2>
    <p translate>MESSAGE.NOTREADY</p>
    <a href="#" class="btn" onclick="$(this).parent().remove();" translate>
        MESSAGE.NOTREADY.COLSE
    </a>
</div>
