<div class="welcome text-center">
    <article class="welcome__title">
        <h1>Balázs András</h1>
        <h2 translate>WELCOME.TITLE</h2>
    </article>

    <div class="welcome__profile"></div>
</div>

<section class="education-wrapper container-fluid">
    <div class="education container">
        <h2 translate>
            EDUCATION.TITLE
        </h2>

        <div class="timeline-wrapper">
            <div class="timeline-item" date-is="{{ 'EDUCATION.FIRST.DATE' | translate}}">
                <h1 translate>EDUCATION.FIRST.NAME</h1>

                <p class="location" translate>EDUCATION.FIRST.LOCATION</p>
                <p translate>
                    EDUCATION.FIRST.DESCRIPTION
                </p>
            </div>

            <div class="timeline-item" date-is="{{ 'EDUCATION.SECOUND.DATE' | translate}}">
                <h1 translate>EDUCATION.SECOUND.NAME</h1>

                <p class="location" translate>EDUCATION.SECOUND.LOCATION</p>
                <p translate>
                    EDUCATION.SECOUND.DESCRIPTION
                </p>
                <p translate>
                    EDUCATION.SECOUND.DESCRIPTION.2
                </p>
            </div>
        </div>

        <div class="education__image"></div>
    </div>
</section>

<section class="experiences-wrapper container-fluid">
    <div class="experiences container">
        <h2 translate>
            EXPERIENES.TITLE
        </h2>

        <div class="timeline-wrapper">

            <div class="timeline-item timeline-item--right" date-is="{{ 'EXPERIENCES.FIRST.DATE' | translate}}">
                <h1 translate>
                    EXPERIENCES.FIRST.NAME
                </h1>
                <p class="location" translate>EXPERIENCES.FIRST.LOCATION</p>
                <p class="company" translate>EXPERIENCES.FIRST.COMPANY</p>

                <p translate>
                    EXPERIENCES.FIRST.DESCRIPTION.1
                </p>
                <p translate>
                    EXPERIENCES.FIRST.DESCRIPTION.2
                </p>
            </div>

            <div class="timeline-item timeline-item--right" date-is="{{ 'EXPERIENCES.SECOUND.DATE' | translate}}">
                <h1 translate>
                    EXPERIENCES.SECOUND.NAME
                </h1>
                <p class="location" translate>EXPERIENCES.SECOUND.LOCATION</p>

                <p translate>
                    EXPERIENCES.SECOUND.DESCRIPTION.1
                </p>
                <p translate>
                    EXPERIENCES.SECOUND.DESCRIPTION.2
                </p>
            </div>

            <div class="timeline-item timeline-item--right" date-is="{{ 'EXPERIENCES.THIRD.DATE' | translate}}">
                <h1 translate>
                    EXPERIENCES.THIRD.NAME
                </h1>
                <p class="location" translate>EXPERIENCES.THIRD.LOCATION</p>
                <p class="company" translate>EXPERIENCES.THIRD.COMPANY</p>

                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.1
                </p>
                <p translate>
                    EXPERIENCES.THIRD.DESCRIPTION.2
                </p>
            </div>

        </div>

        <div class="experiences__image"></div>
    </div>
</section>

<section class="references-wrapper container-fluid">
    <div class="references container">
        <h2 translate>
            REFERENCES.TITLE
        </h2>

        <div myslider>
            <div class="slider">

                <div>
                    <div class="references__img relative">

                        <div class="references__img-wrapper relative">
                            <div>
                                <img class="references-desktop" src="images/references/references-desktop.png" alt="Desktop">
                                <img class="references-img-desktop" src="images/references/references-desktop-03.jpg" alt="References Image Desktop">
                            </div>
                            <div class="mobile">
                                <img class="references-mobile" src="images/references/references-mobile.png" alt="Mobile">
                                <img class="references-img-mobile" src="images/references/references-mobile-03.jpg" alt="References Image Mobile">
                            </div>
                        </div>

                    </div>

                    <article class="references__descripition col-12 offset-xl-6 col-xl-6 aos-init aos-animate" data-aos="flip-up" data-aos-duration="600" data-aos-delay="400">
                        <div>
                            <h3>Apollo Energy Gum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus culpa ducimus exercitationem fugiat harum in perferendis quam rerum veritatis. Assumenda, officiis, praesentium. Aliquam architecto maxime molestiae natus, nostrum veniam!</p>
                            <a class="btn btn--primary" href="http://apollogum.web02.dev7.gbart.hu/" target="_blank">Tovább az oldalra</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="skills-wrapper container-fluid">
    <div class="skills container">
        <h2>
            Skills
        </h2>

        <div class="levels">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>

        <div class="dropdown-wrapper">
            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/jquery.png" alt="jQuery">

                    jQuery

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/angular.png" alt="AngularJS">

                    AngularJS

                    <span class="level level--medium">
                        Medium
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/html5.png" alt="HTML5">

                    HTML5

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/html_banner.png" alt="HTML5 Banners">

                    HTML5 Banners

                    <span class="level level--medium">
                        Medium
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/html_email.png" alt="HTML Emails">

                    HTML Emails

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/css3.png" alt="CSS3">

                    CSS3

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/sass.png" alt="SASS">

                    SASS

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/bootstrap.png" alt="Bootstrap">

                    Bootstrap

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/responsive.png" alt="Responsive">

                    Responsive

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/gulp.png" alt="GulpJS">

                    GulpJS

                    <span class="level level--expert">
                        Expert
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/adobe.png" alt="Adobe">

                    Adobe

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/seo.png" alt="Seo">

                    Seo

                    <span class="level level--medium">
                        Medium
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/english.png" alt="English">

                    English

                    <span class="level level--advanced">
                        Advanced
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown__head">
                    <img class="icon" src="images/icons/japan.png" alt="Japanese">

                    Japanese

                    <span class="level level--basic">
                        Basic
                    </span>
                </div>

                <div class="dropdown__content">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="end-wrapper container-fluid">
    <div class="end container">
        <div class="contact">
            <h2>
                Contact
            </h2>

            <p>
                If you are a private person, if you are an employer, I am looking forward to your inquiry. Please feel free to contact me. I do not bite.
            </p>

            <div class="socials">
                <a href="mailto:andras.vagner@gmail.com" title="email">
                    <span class="icon-envelope"></span>
                </a>
                <a href="tel:06309964393" title="phone">
                    <span class="icon-phone-square"></span>
                </a>
                <a href="http://www.linkedin.com/in/andrás-balázs" target="_blank" title="linekdin">
                    <span class="icon-linkedin-square"></span>
                </a>
                <a href="https://www.facebook.com/andras.gomez" target="_blank" title="facebook">
                    <span class="icon-facebook-square"></span>
                </a>
            </div>
        </div>

        <div class="quick_id">
            <h2>
                Quick ID
            </h2>

            <p>
                <strong>
                    Balázs András
                </strong>
            </p>

            <p>
                1998.02.27 (Vác)
            </p>

            <p>
                Zombori utca 11/a <br>
                2621 Verőce (Hungary)
            </p>
            <p>
                <a href="tel:+36309964303" title="(+36) 30 996 4303">(+36) 30 996 4303</a>
            </p>
            <p>
                <a href="mailto:andras.vagner@gmail.com" target="andras.vagner@gmail.com">andras.vagner@gmail.com</a>
            </p>
        </div>
    </div>
</section>

<section class="bye-wrapper container-fluid relative">
    <div class="bye">
        <h2>
            Thank you for <br>
            Visiting my website!
        </h2>

        <div class="welcome__profile welcome__profile--bye"></div>
    </div>
</section>

<div class="under-development">
    <h2 translate>MESSAGE.NOTREADY.TITLE</h2>
    <p translate>MESSAGE.NOTREADY</p>
    <a href="#" class="btn" onclick="$(this).parent().remove();" translate>
        MESSAGE.NOTREADY.COLSE
    </a>
</div>
