/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}


body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $gray;
	color: $text-color;
	font-family: $font;
	font-size: 100%;
	line-height: 1.5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.location,
.company {
	font-size: 1.8em !important;
	line-height: 1.333em;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

p {
	font-size: 1.6em;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	position: relative;
	font-size: 3.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	font-weight: bold;
	margin-top: 0;
	text-transform: uppercase;
	color: $color-beige;

	&:after {
		content: '';
		width: 110px;
		height: 8px;
		position: absolute;
		left: 0;
		bottom: -8px;
		background-color: #a09081;
	}

	@media only screen and (max-width: 768px) {
		font-size: 2.3em;

		&:after {
			height: 5px;
			bottom: -5px;
		}
	}
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 0.875rem;
	font-weight: 700;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 10;

	> .btn {
		float: right;

		@media screen and (max-width: 768px) {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {
	border-bottom: 0;
	margin: 0;
	display: none;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
		}
	}
}


/*********************
RESPONSIVE NAV
*********************/

.hamburger {

	&:hover,
	&:focus {
		text-decoration: none;
	}
	
	&:before {
		content:'\2261';
		font-size: 24px;
		font-weight: bold;
		color: #555;
	}
}

.responsive-wrapper {
	display: none;

	a {
		display: block;
		width: 100%;
		line-height: 2;
		text-align: center;
		background: #fff;
		color: $text-color;
	}
}

/*********************
MAIN PAGE
*********************/

.main {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	min-width: 320px;

	> section:not(.welcome) {
		padding-top: 150px;
		padding-bottom: 150px;

		&.welcome-wrapper,
		&.education-wrapper{
			padding-top: 0;
		}

		@media only screen and (max-width: 768px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}
}

.under-development {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 25;
	padding: 25px 15px;
	background-color: $color-beige;

	* {
		color: $color-white;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&:after {
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			background-color: $color-white;
		}

		a {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.welcome {
	padding-bottom: 45.5%;
	position: relative;

	@media only screen and (max-width: 481px) {
		padding-bottom:80%;
	}

	@media only screen and (min-width: 768px) {
		min-width: 500px;
	}

	@media only screen and (max-width: 768px) {
		padding-bottom: calc(80% + 144px);
	}

	&__title {
		z-index: 1;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -59px;

		h1 {
			color: white;
			font-weight: bold;
			margin: 0;
			text-transform: uppercase;
			font-size: 3.5em;

			@media only screen and (max-width: 481px) {
				font-size: 2.4em;
			}
		}

		h2 {
			margin: 0;
			font-size: 2em;
			text-transform: none;
			color: $color-white;
			font-weight: 600;

			@media only screen and (max-width: 481px) {
				font-size: 1.2em;
			}

			&:after {
				display: none;
			}
		}
	}

	&__profile {
		z-index: 1;
		width: 240px;
		height: 240px;
		background-image: url("../images/me.png");
		background-size: 140%;
		background-position: -21px 20px;
		background-repeat: no-repeat;
		border-radius: 100%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		bottom: -120px;
		border: 5px solid white;
		background-color: #a09081;

		@media only screen and (max-width: 481px) {
			width: 170px;
			height: 170px;
			bottom: -85px;
			background-position: -15px 12px;
		}

		&--bye {
			width: 300px;
			height: 300px;
			position: relative;
			bottom: 0;
			top: 50px;
			background-image: url("../images/me_2.png");
			background-size: 100%;
			background-position: 9px 10px;
		}
	}

	&:before {
		content: '';
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/top-develop.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;

		@media only screen and (max-width: 1024px) {
			background-size: cover;
			background-position: center bottom;
			background-position-x: center;
			background-position-y: bottom;
			background-attachment: inherit;
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color-beige,.2);
	}
}

.education {
	padding-top: 160px;

	&-wrapper {
		background-color: $color-white;
	}

	.timeline-wrapper {
		div:last-child {
			border-right: 0;
		}
	}

	&__image {
		background-image: url("../images/education.jpg");
		background-size: cover;
		background-position: center center;
		width: 25%;
		float: right;
		height: 500px;
		margin-top: -500px;
		position: relative;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin-top: 0;
			height: 150px;
			float: none;
		}

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba($color-beige,.5);
			z-index: 1;
			position: absolute;
		}
	}
}

.experiences {
	&-wrapper {
		background-color: #585350;
	}

	h2 {
		text-align: right;

		&:after {
			right: 0;
			left: inherit;
		}
	}

	*:before,
	*:after,
	p,
	h1,
	h2,
	h3 {
		color: $color-white !important;
	}

	h2:after {
		background-color: $color-white;
	}

	&__image {
		background-image: url("../images/experiences.jpg");
		background-size: cover;
		background-position: center center;
		width: 25%;
		float: left;
		height: 500px;
		margin-top: -500px;
		position: relative;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin-top: 0;
			height: 150px;
			float: none;
		}

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba($color-beige,.5);
			z-index: 1;
			position: absolute;
		}
	}
}

/* desktop and mobile images START */

.references {

	&-wrapper {
		background-color: $color-white;
	}

	&__img {
		width: 50%;
		float: left;
		padding-right: 45px;

		@media only screen and (max-width: 768px) {
			padding-right: 0;
			float: none;
			width: 100%;
			margin-bottom: 25px;
		}

		&-wrapper {

			.references-desktop {
				z-index: 4;
				position: relative;
				width: 100%;
			}

			.references-img-desktop {
				position: absolute;
				width: 90.3%;
				top: 13.5%;
				left: 5%;
				z-index: 3;
			}

			.mobile {
				position: absolute;
				bottom: 1%;
				right: 11%;
				width: 20%;

				.references-mobile {
					z-index: 10;
					position: relative;
					width: 100%;
				}

				.references-img-mobile {
					position: absolute;
					top: 26.7%;
					width: 87%;
					left: 7%;
					z-index: 4;
				}
			}
		}
	}

	&__descripition {
		width: 50%;
		float: right;
		padding-left: 45px;

		@media only screen and (max-width: 768px) {
			padding-left: 0;
			width: 100%;
			float: none;
		}

		h3 {
			font-weight: bold;
			color: $color-beige;
			text-transform: uppercase;
			font-size: 2.3em;
			margin-top: 0;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -5px;
				width: 20%;
				height: 5px;
				background-color: $color-beige;
				left: 0;
			}
		}

		p {
			font-size: 1.3em;
		}

		.btn {
			bottom: 0;
			position: absolute;

			@media only screen and (max-width: 768px) {
				position: relative;
			}
		}
	}
}

.skills {
	&-wrapper {
		background-color: #585350;
	}

	h2 {
		color: $color-white;
		text-align: right;

		&:after {
			background-color: $color-white;
			left: inherit;
			right: 0;
		}
	}
}

$color-basic: #85a7f9;
$color-medium: #ffb446 + 20;
$color-advanced: #ff7600 - 15;
$color-expert: #ff4200 - 50;

$color-linkedin: #0077b5;
$color-facebook: #3b5997;
$color-call: #43b51f;
$color-mail: #1f84b8;

.levels {
	margin: 60px auto;
	overflow: hidden;
	display: flex;

	> div {
		height: 15px;
		width: 25%;

		&:nth-child(1) {
			background-color: $color-basic;
		}

		&:nth-child(2) {
			background-color: $color-medium;
		}

		&:nth-child(3) {
			background-color: $color-advanced;
		}

		&:nth-child(4) {
			background-color: $color-expert;
		}
	}
}

.skill {
	margin-bottom: 20px;

	@media only screen and (min-width: 768px) {
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		float: left;

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-left: -10px;
			margin-right: -10px;
		}
	}

	&__head {
		padding-top: 15px;
		padding-bottom: 15px;
		background: $color-beige;
		text-align: center;
		color: $color-white;
		min-height: 100px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		font-weight: bold;
		font-size: 2.4em;

		.icon {
			width: 60px;
			height: 60px;
			margin-left: auto;
			margin-right: auto;
		}

		.level {
			font-size: 0.5em;

			&--basic {
				color: $color-basic;
			}

			&--medium {
				color: $color-medium;
			}

			&--advanced {
				color: $color-advanced;
			}

			&--expert {
				color: $color-expert;
			}
		}
	}

	&__content {

	}
}

.end {

	&-wrapper {
		overflow: hidden;
		position: relative;
		background-color: $color-white;

		&:before {
			content: '';
			position: absolute;
			width: 70%;
			height: 200%;
			top: -70%;
			right: -22%;
			background-color: $color-beige;
			@include css3-transform(rotate(-20deg));
			z-index: 0;
		}

		@media screen and (max-width: 1024px) {

			&:before {
				display: none;
			}
		}
	}

	.contact {
		width: 50%;
		padding-right: 15px;
		float: left;

		@media screen and (max-width: 1024px) {
			background-color: $color-white;
			float: none;
			width: 100%;
			padding-left: 15px;
			padding-bottom: 80px;
		}
	}

	.quick_id {
		width: 50%;
		padding-left: 15px;
		float: left;
		text-align: right;

		@media screen and (max-width: 1024px) {
			background-color: $color-beige;
			float: none;
			width: 100%;
			padding-right: 15px;
		}
		
		h2 {
			color: $color-white;

			&:after {
				left: inherit;
				right: 0;
				background-color: $color-white;
			}
		}
		
		p,
		a {
			color: $color-white;
		}

		p {
			margin-top: 0;
			margin-bottom: 0.5em;

			&:first-child {
				margin-top: 1em;
			}
		}
		@media screen and (max-width: 1024px) {
			background-color: $color-white;
			text-align: left;

			h2 {
				color: $color-beige;

				&:after {
					right: inherit;
					left: 0;
					background-color: $color-beige;
				}
			}

			p,
			a {
				color: $color-beige;
			}
		}
	}
}

.decoration {
}

.socials {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin-left: -8px;
	margin-right: -8px;

	a {
		display: block;
		margin: 0 4px;

		> span {
			float: left;
			position: relative;
			width: 80px;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;

			&.icon-envelope {
				margin-top: -0.27em;
				font-size: 1.07em;
				margin-right: 0.4em;
			}

			&:before {
				@include project-default-transition();
				color: $color-beige;
				font-size: 4.5em;
			}

			&.icon-envelope {
				&:hover {
					&:before {
						color: $color-mail;
					}
				}
			}

			&.icon-phone-square {
				&:hover {
					&:before {
						color: $color-call;
					}
				}
			}

			&.icon-linkedin-square {
				&:hover {
					&:before {
						color: $color-linkedin;
					}
				}
			}

			&.icon-facebook-square {
				&:hover {
					&:before {
						color: $color-facebook;
					}
				}
			}
		}
	}
}


.bye {
	&-wrapper {
		background-color: #585350;
	}
	
	h2 {
		color: $color-white;
		text-align: center;
		line-height: 1.2em;

		&:after {
			left: 0;
			right: 0;
			bottom: -20px;
			margin-left: auto;
			margin-right: auto;
			background-color: $color-white;
		}
	}
}


.timeline-wrapper {

	> article:last-child {
		-webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, $color-beige), to(rgba($color-beige, 0))) 1 100%;
		-webkit-border-image: -webkit-linear-gradient(top, $color-beige 60%, rgba($color-beige, 0)) 1 100%;
		-o-border-image: -o-linear-gradient(top, $color-beige 60%, rgba($color-beige, 0)) 1 100%;
		border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, $color-beige), to(rgba($color-beige, 0))) 1 100%;
		border-image: linear-gradient(to bottom, $color-beige 60%, rgba($color-beige, 0)) 1 100%;
	}

	&--right {
		.timeline-item {
			border-left: 0;
			border-right: 4px solid $color-beige;
			text-align: right;
			margin-left: auto;

			@media only screen and (max-width: 481px) {
				padding: 30px 10px 10px 0;
			}

			&::before {
				right: 2em;
				left: inherit;
			}

			&::after {
				right: -12px;
				left: inherit;
			}
		}
	}
}

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	border-left: 4px solid $color-beige;
	width: 70%;

	@media only screen and (max-width: 768px) {
		width: 100%;
	}

	@media only screen and (max-width: 481px) {
		padding: 30px 0 10px 10px;
	}

	h3 {
		color: $color-beige;
		margin-top: 0;
		margin-bottom: 0.3em;
		line-height: 1em;
		font-weight: 700;
		font-size: 2.5em;

		@media only screen and (max-width: 768px) {
			font-size: 1.5em;
		}
	}
	p {
		color: $text-color;
		font-size: 1rem;
		margin-top: 0;
		margin-bottom: 0.3em;
	}

	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: .785rem;
	}

	&::after {
		width: 20px;
		height: 20px;
		display: block;
		top: 0.6em;
		position: absolute;
		left: -12px;
		border-radius: 10px;
		content: '';
		border: 4px solid $color-beige;
		background: white;
	}
}



.language-selector {
	float: right;
	margin-left: 10px;

	select {
		width: 55px;
		height: 50px;
		text-align: center;
		text-align-last: center;
		background-image: none !important;
		color: $color-white;
		background-color: $color-beige;
		font-weight: bold;
		border: 1px solid $color-white;
		border-radius: $project-default-border-radius;
		text-transform: uppercase;
	}

	@media screen and (max-width: 768px) {
		float: none;
		text-align: center;

		select {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// slider
.slider {
	margin-top: 100px;

	@media only screen and (max-width: 768px) {
		margin-top: 50px;
	}
}

.image-slider {
	max-height: 400px;

	img {
		width: 100%;
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

/*********************
ICON STYLES
*********************/

// include icomoon icons font
@include css3-font-face(icomoon, icomoon);

// setup icomoon
@mixin icomoon() {
	font-family: 'icomoon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon,
[class^="icon-"],
[class*=" icon-"] {
	@include icomoon();
}

.icon-phone-square:before {
	content: "\e904";
}
.icon-envelope:before {
	content: "\e900";
}
.icon-linkedin-square:before {
	content: "\e901";
}
.icon-facebook-square:before {
	content: "\e902";
}
.icon-twitter-square:before {
	content: "\e903";
}