/******************************************************************

Buttons

******************************************************************/

.btn {
  min-width: 300px;
  padding: 0 30px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-white;
  color: $color-white;
  border-radius: $project-default-border-radius;

  &--primary {

  }
}