/******************************************************************

Buttons

******************************************************************/

.btn {
  width: 290px;
  padding: 10px 30px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-beige;
  border: 1px solid $color-white;
  color: $color-white;
  border-radius: $project-default-border-radius;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 481px) {
    padding: 0 10px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
  }
}